@charset "utf-8";
* { margin:0; padding:0; box-sizing:border-box }
img { border:none; vertical-align:middle; width: 100%; }
a { color:inherit; text-decoration: none; display: inline-block; }
ul { list-style:none }
header, section, footer, article, nav { display:block; }
.blind { position:absolute; width:0; height:0; left:-9999px;top:0; overflow:hidden; font-size:0px; line-height:0px }
.cf::before, .cf::after { content:''; display:block; clear:both }

$maincolor: #2D6BBA;
$subcolor: #1B3455;
$pointcolor:orange;

body {
    overflow-x: hidden;
}
#wrap {
    max-width: 640px;
    margin: 0 auto;
    padding-top: 30px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    ::-webkit-scrollbar { 
        display: none; /* Chrome, Safari, Opera*/
    }

    h1 {
        text-align: center;
        .logo {
            padding:0 50px 20px;
        }
    }

    nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        padding: 10px 0;
        max-width: 640px;
        ul {
            display: flex;
        }
        li {
            flex: 1;
            text-align: center;
            &.on {
                color: $maincolor;
            }
            i {
                font-size: 18px;
            }
            span {
                font-size: 14px;
            }
        }
    }

    #section {
        margin-bottom: 42px;
        h2 { 
            margin: 20px;
            font-size: 22px;
            font-weight: bold; 
        }
        .tabBox {
            overflow-x: scroll;
    
            .tabtit {
                display: flex;
                flex-direction: row;
                gap: 7px;
                width: 1116px;
                margin: 0 auto;
    
                li {
                    border: 1px solid #ddd;
                    border-radius: 15px;
                    cursor: pointer;
                    flex: 0 0 50px;
                    height: 50px;
                    text-align: center;
                    font-size: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:first-child {
                        margin-left: 20px;
                    }
                    &.on {
                        background-color: $maincolor;
                        color: #fff;
                        border: 1px solid $subcolor;
                    }
                }
            }
        }
        
        .grid {
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            .item {
                flex-basis: 47.5%;
                margin-bottom: 5%;
                &:nth-child(odd) {
                    margin-right: 5%;
                }
                img { 
                    border-radius: 15px;
                    height: 100%;
                }
            }
        }
    
        .info_img {
            display: flex;
            justify-content: center;
            img {
                width: 50%;
            }
        }
    
        .info {
            padding: 20px;
            table {
                border-collapse: collapse;
                tr {
                    border: 1px solid #000;
                    border-left: none;
                    border-right: none;
                    &:first-child {
                        border-top: none;
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                    th {
                        width: 100px;
                        text-align: right;
                        border-right: 1px solid #000;
                    }
                    th, td {
                        padding: 10px; 
                        i {
                            color: $maincolor;
                        }  
                    }
                    
                }
                
            }
            div {
                text-align: right;
                a {
                    padding: 10px 20px;
                    margin: 20px 10px;
                    background-color: $maincolor;
                    border-radius: 5px;
                    color: #fff;
                }
            }
        }

        .searchBox {
            background-color: #eee;
            border-radius: 20px;
            padding: 20px;
            margin: 20px;
            .input_content {
                label {
                    width: 18%;
                    display: inline-block;
                    text-align: right;
                    font-weight: bold;
                    margin-right: 10px;
                    white-space: nowrap;
                }
                div {
                    display: inline;
                    overflow: hidden;
                    select, input {
                        padding: 10px;
                        width: 32%;
                        margin: 5px;
                        &:last-child {
                            float: right;
                        }
                    }
                    button {
                        padding: 10px;
                        width: 20%;
                        margin: 5px;
                        float: right;
                        background-color: $maincolor;
                        color: #fff;
                        border: none;
                    }
                }
            }
            
        }
        .searchList {
            padding: 20px;
            .searchitem {
                border-bottom: 1px solid #ccc;
                padding: 10px 0;
                &:last-child{
                    border-bottom: none;
                }
                .title {
                    width: 95%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .date {
                    font-size: 14px;
                    margin-top: 5px;
                }
            }
            
        }
        .more {
            text-align: center;
            button {
                padding: 10px;
                width: 15%;
                margin: 0 0 30px;
                background-color: $subcolor;
                color: #fff;
                border: none;
                &:disabled {
                    background-color:#ccc;
                }
            }
        }  
    }
}


