* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  border: none;
  vertical-align: middle;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

header, section, footer, article, nav {
  display: block;
}

.blind {
  position: absolute;
  width: 0;
  height: 0;
  left: -9999px;
  top: 0;
  overflow: hidden;
  font-size: 0px;
  line-height: 0px;
}

.cf::before, .cf::after {
  content: "";
  display: block;
  clear: both;
}

body {
  overflow-x: hidden;
}

#wrap {
  max-width: 640px;
  margin: 0 auto;
  padding-top: 30px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#wrap ::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
#wrap h1 {
  text-align: center;
}
#wrap h1 .logo {
  padding: 0 50px 20px;
}
#wrap nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  max-width: 640px;
}
#wrap nav ul {
  display: flex;
}
#wrap nav li {
  flex: 1;
  text-align: center;
}
#wrap nav li.on {
  color: #2D6BBA;
}
#wrap #section {
  margin-bottom: 42px;
}
#wrap #section h2 {
  margin: 20px;
  font-size: 22px;
  font-weight: bold;
}
#wrap #section .tabBox {
  overflow-x: scroll;
}
#wrap #section .tabBox .tabtit {
  display: flex;
  flex-direction: row;
  gap: 7px;
  width: 1173px;
  margin: 0 auto;
}
#wrap #section .tabBox .tabtit li {
  border: 1px solid #ddd;
  border-radius: 15px;
  cursor: pointer;
  flex: 0 0 50px;
  height: 50px;
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap #section .tabBox .tabtit li:first-child {
  margin-left: 20px;
}
#wrap #section .tabBox .tabtit li.on {
  background-color: #2D6BBA;
  color: #fff;
  border: 1px solid #1B3455;
}
#wrap #section .grid {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
#wrap #section .grid .item {
  flex-basis: 47.5%;
  margin-bottom: 5%;
}
#wrap #section .grid .item:nth-child(odd) {
  margin-right: 5%;
}
#wrap #section .grid .item img {
  border-radius: 15px;
  height: 100%;
}
#wrap #section .info_img {
  display: flex;
  justify-content: center;
}
#wrap #section .info_img img {
  width: 50%;
}
#wrap #section .info {
  padding: 20px;
}
#wrap #section .info table {
  border-collapse: collapse;
}
#wrap #section .info table tr {
  border: 1px solid #000;
  border-left: none;
  border-right: none;
}
#wrap #section .info table tr:first-child {
  border-top: none;
}
#wrap #section .info table tr:last-child {
  border-bottom: none;
}
#wrap #section .info table tr th {
  width: 100px;
  text-align: right;
  border-right: 1px solid #000;
}
#wrap #section .info table tr th, #wrap #section .info table tr td {
  padding: 10px;
}
#wrap #section .info div {
  text-align: right;
}
#wrap #section .info div a {
  padding: 10px 20px;
  margin: 20px 10px;
  background-color: #2D6BBA;
  border-radius: 5px;
  color: #fff;
}
#wrap #section .searchBox {
  background-color: #eee;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}
#wrap #section .searchBox .input_content label {
  width: 20%;
  display: inline-block;
  text-align: right;
  font-weight: bold;
  margin-right: 10px;
}
#wrap #section .searchBox .input_content div {
  display: inline;
  overflow: hidden;
}
#wrap #section .searchBox .input_content div select, #wrap #section .searchBox .input_content div input {
  padding: 10px;
  width: 35%;
  margin: 5px;
}
#wrap #section .searchBox .input_content div select:last-child, #wrap #section .searchBox .input_content div input:last-child {
  float: right;
}
#wrap #section .searchBox .input_content div button {
  padding: 10px;
  width: 15%;
  margin: 5px;
  float: right;
  background-color: #2D6BBA;
  color: #fff;
  border: none;
}
#wrap #section .searchList {
  padding: 20px;
  margin: 20px;
}
#wrap #section .searchList .searchitem {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
#wrap #section .searchList .searchitem:last-child {
  border-bottom: none;
}
#wrap #section .searchList .searchitem .title {
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#wrap #section .searchList .searchitem .date {
  font-size: 14px;
  margin-top: 5px;
}
#wrap #section .more {
  text-align: center;
}
#wrap #section .more button {
  padding: 10px;
  width: 15%;
  margin: 0 0 30px;
  background-color: #1B3455;
  color: #fff;
  border: none;
}
#wrap #section .more button:disabled {
  background-color: #ccc;
}/*# sourceMappingURL=style.css.map */